/**** This file will hold all the variables for color, font size etc. ****/

/****************************************/
/**** Screen sizes for media queries ****/
/****************************************/
$screen-sm-min:             768px;
$screen-md-min:             992px;
$screen-lg-min:             1200px;

/*********************************/
/**** Basic color declaration ****/
/*********************************/
$black:                     #000000;
$white:                     #FFFFFF;

/********************************************/
/**** Project-specific color declaration ****/
/********************************************/
$primary-color:             #424242;

/*********************************/
/**** Font-family declaration ****/
/*********************************/
$font-family-roboto:                  'Roboto', sans-serif;
$font-family-raleway:                 'Raleway', sans-serif;

/*********************************/
/**** Font-weight declaration ****/
/*********************************/
$font-weight-thin:          100;
$font-weight-exlight:       200;
$font-weight-light:         300;
$font-weight-regular:       400;
$font-weight-medium:        500;
$font-weight-semibold:      600;
$font-weight-bold:          700;
$font-weight-exbold:        800;
$font-weight-black:         900;

/*******************************/
/**** Font-size declaration ****/
/*******************************/
$font-9-size:               9px;
$font-10-size:              10px;
$font-12-size:              12px;
$font-13-size:              13px;
$font-14-size:              14px;
$font-16-size:              16px;
$font-18-size:              18px;
$font-21-size:              21px;
$font-22-size:              22px;
$font-24-size:              24px;
$font-30-size:              30px;

/*****************************************/
/**** Variable declaration for mixins ****/
/*****************************************/
$border-radius:             2px;
$width-allowed:             4;
$max-width-allowed:         10;
$column-size:               25%;
$borderType:                solid;
$border-side:               all left top bottom right;
$padding-side:              all left top right bottom top-bottom left-right;
$margin-side:               all left top right bottom top-bottom left-right;
