.signin-section {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  left: 0;
  width: 100%;
  text-align: center;

  .signin-form {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    .form-group {
      width: 80%;
      margin: 30px auto;

      .alert {
        display: inline-block;
        padding: 5px;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: left;

        &.alert-danger {
          background: transparent;
          border-color: transparent;
        }
      }
    }

    .btn {
      width: 80%;

      &:hover, &:focus, &:active {
        cursor: pointer;
      }
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .signin-section {
    .signin-form {
      width: 50%;
    }
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: large) {
}
